* {
	margin: 0;
	padding: 0;
}

.populated {
	background-color: black;
}

body {
	background-color: red;
}

.running_color {
	background-color: green;
}

#board_of_life {
	background-color: white;
}